.spread {
    position: relative;
    overflow: hidden;
    height: inherit;
}

.spread-page-wrapper {
    position: absolute;
}

.spread-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}

.spread-page {
}

.spread-divider {
    position: absolute;
    width: 1px;
    box-shadow: -1px 0px 16px 0px rgba(0,0,0,0.8),
        1px 0px 16px 0px rgba(0,0,0,0.8);
    background-color: rgba(0,0,0,0.25);
}
