.ReadAlongDebugViewPages {
    position: relative;
    overflow: hidden;
    height: inherit;
}

.ReadAlongDebugViewPages > iframe {
    position: absolute;
    border: none;
    margin: 0;
    padding: 0;

    border-radius: 10px;
    overflow: hidden;
}

.ReadAlongDebugViewPages-debug {
    position: absolute;
    right: 0px;
    top: 0px;
    border: 2px;
    padding: 10px;
    z-index: 1000;
    opacity: .8;
}

.ReadAlong {
    display: flex;
}

.ReadAlongDebugViewPages-button.matte-Button {
    height: auto;
    margin: 0;
    padding: 1em;
    font-size: 13px;
    line-height: 1;
    color: #fff;
    border-radius: 2.5em;
    border: none;
    background: hsl(0,0%,10%) linear-gradient( hsla(0,0%,100%,.1), hsla(0,0%,100%,0) );
}

.ReadAlongDebugViewPages-button.matte-Button:hover {
    color: #fff;
    background-color: hsl(0,0%,20%);
}

.ReadAlongDebugViewPages-button.matte-Button:active {
    background: hsl(0,0%,0%);
}

.ReadAlongDebugViewPages-icon {
    margin: 0;
    vertical-align: middle;
}

.disabled {
    opacity: .0;
}