
#textOverlay span {
    position: relative;
    background-color: #ff5;
    color: #f00 !important; /* the text is way off, we can't use text color */
    opacity: .3;
}
body{
	opacity: .5;
	background-color: #333;
}