
body {
    overflow: auto;
}

.Importer {
    position: relative;
    display: -webkit-flex;
    height: 100%;
    width: 100%;
    padding: 14px 14px 44px 14px;
    text-shadow: 0 1px 0 hsla(0,0%,100%,.5);
    background: hsl(0,0%,95%) -webkit-radial-gradient( hsl(0,0%,98%), hsl(0,0%,90%) );
    -webkit-user-select: none;
    cursor: default;
}

.Activities {
    -webkit-flex: 1;
    overflow: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 85%);
    border: 1px solid hsla(0, 0%, 0%, .06);
}

.Activity-list {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: hsl(0, 0%, 95%);
}

.Activity-list-item {
    display: block;
    padding: 0;
    font-size: 16px;
    text-decoration: none;
    color: hsl(0, 0%, 30%);
    border-top: 1px solid hsla(0, 0%, 100%, .5);
    border-bottom: 1px solid hsla(0, 0%, 0%, .1);
    background: hsl(0, 0%, 95%);
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.Activity-list-item:hover {
    border-top: 1px solid hsla(0, 0%, 100%, .1);
    background: hsl(0, 0%, 97%);
}


/* Footer --------------------------------------- */

.Importer-footer {
    position: absolute;
    display: -webkit-flex;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 14px;
    font-size: 12px;
    color: hsl(0, 0%, 70%);
}

.Importer-destinationLabel {
    margin-right: .5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.Importer-destination {
    -webkit-flex: 1;
    color: hsl(0,0%,50%);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.Importer-clearButton {
    outline: none;
    width: 16px;
    height: 16px;
    background: url('../../assets/images/clear.svg') no-repeat left center;
    background-size: 16px 16px;
    opacity: .3;
    border: none;
    cursor: pointer;
}

.Importer-clearButton:hover {
    opacity: 1;
}

.Importer-clearButton:active {
    opacity: .3;
}
