.montage-invisible {
    display: none !important;
}

body {
    margin: 0;
    padding: 0;

    background-color: #404040;
    color: hsl(0,0%,85%);
}

.main {
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;

    display: -webkit-flex;
    -webkit-flex-direction: column;

    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

/* Toolbar -------------------------------------- */

.Toolbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 8px;
    color: hsl(0,0%,70%);
    background-color: #474747;
    background-image: linear-gradient(hsla(0,0%,32%,.99), hsla(0,0%,27%,.95));
    box-shadow: inset 1px 0 0 hsla(0,0%,100%,.08), inset 0 1px 1px hsla(0,0%,0%,.15), inset 0 -1px 0 hsla(0,0%,100%,.05), 0 1px 0 hsla(0,0%,0%,.15), 0 1px 1px hsla(0,0%,0%,.1);
    overflow: hidden;
    -webkit-user-select: none;
}

.Toolbar-group {
    display: flex;
    align-items: center;
}

/* Buttons */

.Toolbar-button.matte-Button {
    color: hsla(0,0%,100%,.8);
    text-shadow: 0 1px 0 hsla(0,0%,0%,.2);
    border-color: hsl(0,0%,15%);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,44%), hsl(0,0%,34%) );
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.1), inset 0 -1px 1px hsla(0,0%,0%,.06), 0 1px 0 hsla(0,0%,100%,.1);
}

.Toolbar-button.matte-Button.active {
    color: hsla(0,0%,100%,.3);
    border-color: hsl(0,0%,15%);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,24%), hsl(0,0%,18%) );
    box-shadow: inset 0 1px 3px hsla(0,0%,0%,.3), 0 1px 0 hsla(0,0%,100%,.1);
}

/* Action */ 

.Toolbar-button--action.matte-Button {
    color: hsl(170,80%,90%);
    border-color: hsl(170,80%,10%);
    background-image: -webkit-linear-gradient(top, hsl(160,80%,42%), hsl(160,80%,32%) );
}

.Toolbar-button--action.matte-Button.active {
    color: hsl(170,80%,80%);
    background-image: -webkit-linear-gradient(top, hsl(160,80%,32%), hsl(160,80%,22%) );
}

.Toolbar-button--viewmode {
    margin: 0 10px 0 0;
    width: 120px;
}


/* Overlay */

.Overlay {
    margin: 0 10px;
}

.Overlay-icon {
    height: 24px;
    vertical-align:middle;
}

.Overlay-range {
    vertical-align: middle;
    border-radius: 3px;
    border-color: hsl(0,0%,15%);
    background-color: hsla(0,0%,0%,.1);
    box-shadow: inset 0 -1px 1px hsla(0,0%,0%,.06), 0 1px 0 hsla(0,0%,100%,.1);
}

.Overlay-range .matte-InputRange-thumb {
    width: 14px;
    border-radius: inherit;
    border-color: hsl(160,80%,12%);
    background-image: -webkit-linear-gradient(top, hsl(160,80%,42%), hsl(160,80%,32%) );
    background-clip: content-box;
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.1), inset 0 -1px 1px hsla(0,0%,0%,.06), 0 3px 3px hsla(0,0%,0%,0.2);
}

.Overlay-autoOpacity.matte-InputCheckbox {
    margin: 0 0 0 10px;
    border-color: hsl(0,0%,15%);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,44%), hsl(0,0%,34%) );
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.1), inset 0 -1px 1px hsla(0,0%,0%,.06), 0 1px 0 hsla(0,0%,100%,.1);
}

.Overlay-autoOpacity.matte-InputCheckbox:checked {
    background-image: none;
    border-width: 5px;
    background-color: hsl(160,80%,50%);
    box-shadow: inset 0 -1px 1px hsla(0,0%,0%,.06), 0 1px 0 hsla(0,0%,100%,.1);
}


/* Copyright -------------------------------------- */

.Copyright {
    display: flex;
}

.Copyright-title {
    margin: 0 1em 0 0;
}

.Copyright-saveButton {
    margin: 0 0 0 10px;
}


/* Content -------------------------------------- */

.main > .content {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-flex: 1;
 }

.main > .content > nav {
    overflow: auto;

    padding: 5px;
    background-color: hsla(0,0%,0%,.1);
    box-shadow: inset -1px 0 0 hsla(0,0%,0%,.25);

    width: 180px;
}

.main > .content > article {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-flex: 1;
}

.pages-list {
    list-style: none;
    margin: 8px;
    padding: 4px
}

.page-list-item {
    padding: 4px 0px 16px 0px;
}

.spreadView {
    position: relative;
    -webkit-flex: 1;
    padding: 0;
    margin: 20px 40px;
}


