

body {
    margin: 0;
    padding: 0;

    background-color: #404040;
    color: hsl(0,0%,85%);
}

.main {
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;

    display: -webkit-flex;
    -webkit-flex-direction: column;

    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

.main > header {
    padding: 5px;
    height: 32px;
    background-color: #474747;
    background-image: linear-gradient(hsla(0,0%,32%,.99), hsla(0,0%,27%,.95));
    box-shadow: inset 1px 0 0 hsla(0,0%,100%,.08), inset 0 1px 1px hsla(0,0%,0%,.15), inset 0 -1px 0 hsla(0,0%,100%,.05), 0 1px 0 hsla(0,0%,0%,.15), 0 1px 1px hsla(0,0%,0%,.1);
    overflow: hidden;
}

.main > .content {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-flex: 1;
 }

.main > .content > nav {
    overflow: auto;

    padding: 5px;
    background-color: hsla(0,0%,0%,.1);
    box-shadow: inset -1px 0 0 hsla(0,0%,0%,.25);

    width: 180px;
}

.main > .content > article {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-flex: 1;
}

.pages-list {
    list-style: none;
    margin: 8px;
    padding: 4px
}

.page-list-item {
    padding: 4px 0px 16px 0px;
}

.spreadView {
    position: relative;
    -webkit-flex: 1;
    padding: 0;
    margin: 20px 40px;
}


.Action-button {
    width: 120px;
}

.overlay-icon {
    height: 24px;
    vertical-align:middle;
}

.overlay-range {
    position: relative;
    top: 3px;
}