
body {
    margin: 0;
    padding: 0;
}

div.page {
    position: absolute;
    overflow: hidden;
    background-color: white;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

div.page div.group {
    position: absolute;

    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
}

div.page span, div.page img {
    position: absolute;

    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;

    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text
}

div.page svg {
    position: absolute;
    top: 0;
    left: 0;

    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
}

/* SVG sub-elements*/
div.page text, div.page tspan, div.page image {
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text
}


/* DOM overlay */
#textOverlay {
    position: absolute;
    top: 0;
    left: 0;

    transform-origin: 0px 0px;
    -webkit-transform-origin: 0px 0px;
    -moz-transform-origin: 0px 0px;
    -ms-transform-origin: 0px 0px;
}

#textOverlay div {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;

    transform-origin: 0px 0px;
    -webkit-transform-origin: 0px 0px;
    -moz-transform-origin: 0px 0px;
    -ms-transform-origin: 0px 0px;
}

#textOverlay span {
    position: relative
}

/* overlay types */
.overlayDomText svg text {
    display: none !important;
}

.overlaySvgText div span {
    color: transparent !important;
}


/* Read along highlighting */
.-epub-media-overlay-active {
    background-color: #ffb;
    opacity: .6;
}
