.Activity-item {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    width: 100%;
}
.Activity-item--left {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: left;
    padding: 4px 8px;
}
.Activity-item--center {
    display: -webkit-box;
    -webkit-box-flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: left;
    padding: 4px;
    min-width: 200px;
    overflow: hidden;
}
.Activity-item--right {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: left;
    padding: 4px 8px;
}
.Activity-item--icon {
    width: 36px;
    height: 36px;

    background: url('../../assets/images/pdf-icon.png') no-repeat;
    background-size:36px 36px;
    background-repeat:no-repeat;
    background-position:left center;
}

.Activity-progress {
    width: 100%;
    box-sizing: content-box;
}

.Activity-status {
    position: relative;
    top: -3px;
    font-size: 12px;
}

/* Action button ---------------------------- */

.Action-button {
    -webkit-flex: 1;
    position: relative;
    margin: 2px 0 !important;
    padding-left: 3.2em !important;
    font-size: 13px !important;
    color: hsla(0,0%,100%,1);
    text-shadow: 0 1px 0 hsla(0,0%,0%,.1);
    border-radius: 4px !important;
    background-color: hsl(210,100%,56%) !important;
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.15), 0 1px 0 hsla(0,0%,100%,.6);
}

.Action-button:hover {
    color: hsla(0,0%,100%,1) !important;
}

.Action-button.active {
    box-shadow: 0 1px 0 hsla(0,0%,100%,.6) !important;
}

.Action-button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 2.5em;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    border-right: 1px solid hsla(0,0%,0%,.06);
    background: hsla(0,0%,0%,.06) no-repeat center;
}


/* Close Button ---------------------------- */

.Activity-item--close {
    width: 22px;
    height: 22px !important;
    min-width: 22px !important;
    margin-top: -5px !important;
    padding: 0 !important;
    line-height: 0;
    font-size: 12px !important;
    color: hsl(0,0%,60%) !important;
    text-shadow: 0 1px hsla(0,0%,100%,0.4);
    border-radius: 11px !important;
    border-color: hsl(0,0%,80%) !important;
    background: -webkit-linear-gradient( hsl(120,0%,96%), hsl(120,0%,86%) ) !important;
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.6), 0 1px 2px hsla(0,0%,0%,.06);
}

.Activity-item--close:hover {
    border-color: hsl(0,0%,76%) !important;
    background: -webkit-linear-gradient( hsl(120,0%,97%), hsl(120,0%,88%) ) !important;
}

.Activity-item--close.active {
    background: hsl(0,0%,84%) !important;
    box-shadow: 0 1px 2px hsla(0,0%,0%,.06) !important;
}

.Activity-ready .Activity-item--close {
    display: none;
}


/* Open Button ---------------------------- */

.Activity-item--open {
    display: none;
    width: 160px;

    border-color: hsl(170,80%,40%) !important;
    background-image: -webkit-linear-gradient(top, hsl(170,80%,48%), hsl(170,80%,42%) ) !important;
}

.Activity-item--open:hover {
    background-image: -webkit-linear-gradient(top, hsl(170,80%,50%), hsl(170,80%,44%) ) !important;
}

.Activity-item--open.active {
    background-image: -webkit-linear-gradient(top, hsl(170,80%,44%), hsl(170,80%,38%) ) !important;
}

.Activity-item--open:before {
    background-image: url(../../assets/images/open.svg);
}


/* Activity Ready overwrites  ---------------------------- */

.Activity-ready .Activity-progress {
    display: none;
}


.Activity-ready .Activity-item--close {
    display: none;
}

.Activity-ready .Activity-item--open {
    display: block;
}

.Activity-ready .Activity-item--icon {
    background: url('../../assets/images/epub-icon.png') no-repeat;
    background-size:36px 36px;
}

